Source: pimd
Section: net
Priority: optional
Maintainer: Antonin Kral <A.Kral@sh.cvut.cz>
Uploaders: Apollon Oikonomopoulos <apoikos@debian.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/troglobit/pimd
Vcs-Git: https://github.com/bobek/pkg-pimd.git
Vcs-Browser: https://github.com/bobek/pkg-pimd/tree/debian/sid

Package: pimd
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, lsb-base, ${misc:Depends}
Conflicts: mrouted, smcroute
Description: multicast routing daemon (PIMv2)
 pimd is implementation of Protocol Independent Multicast routing daemon.
 It supports PIMv2-SM/SSM on FreeBSD, NetBSD, OpenBSD, Linux. Enabled PIM
 support in kernel is needed.
